body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

nav{
    font-size: 30px;
    font-weight: bolder;
    color: #dddddd;
}

.navbar-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(224, 36, 49));
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar-srmLogo{
    margin-right: 50px;
    width: 50px;
}


